/*! Place your custom styles here */
.tab__content ul li span {
    top: -5px;
    position: relative;
}
.tab__content ul li i {
    padding-right: 17px;
}
.idopontok.boxed.boxed--border span {
    color: #000;
    text-transform: uppercase;
    position: relative;
    top: -5px;
    font-weight: bold;
}

.idopontok.boxed.boxed--border li {
    color: #000;
    margin-left: 35px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 6px;
    padding-top: 1px;
}


.flexbox {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    overflow: hidden;
}
.flexbox .col {
    flex: 1;
    margin:10px;
}
@media all and (max-width: 992px) {
    .flexbox{
        display:block !important;
    }
}

.more-options-button{
    background: #fff; width:100%
}
.tanf-price h4{
    font-weight: 700;
    font-size: 50px !important;
    color: #777 !important;
    margin-top: 20px;
    display: block;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
}
.tanf-price span{
    color:#888;
    margin-bottom: 17px;
    display: inline-block;
}
.process-number{
    position: absolute;
    z-index: 10;
    left: 16px;
    font-size: 15px;
    background: #fff;
    width: 31px;
    height: 31px;
    display: inline-block;
    padding-left: 10px;
    padding-top: 1px;
    border: 1px solid #4D5C6D;
    border-radius: 30px;
}
.tanfolyam-kiirasok-box{
    overflow: hidden;
    width: 100% !important;
    position: relative;
    border: 0px solid #ccc;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 3px;
}
.tanfolyam-kiirasok-box .left-col{

border-top-left-radius:13px;

border-bottom-left-radius: 13px;
}
.tanfolyam-kiirasok-box .mid-col strike{
    font-size:18px;
}
.tanfolyam-kiirasok-box .right-col{

border-top-right-radius: 13px;

border-bottom-right-radius: 13px;
}

.front .btn--lg {
    padding-top: 1.580357em;
    padding-bottom: 1.580357em;
    padding-right: 4.482143em;
    padding-left: 4.482143em;
    width: 100%;
}
.front h4 {
    font-size: 24px;
    padding-bottom: 5px;
    margin-left: 0;
}
.more-buttons .btn--lg {
    padding-top: 0.680357em;
    padding-bottom: 0.680357em;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
    width: 80%;
    border-radius: 14px;
    box-shadow: 2px 2px #ccc;
    margin: 0 auto !important;
    display: block !important;
}
li big {
    background: #fff;
    color: #666666;
    padding: 10px;
    border-radius: 13px;
    margin-left: 17px;
    float: right;
    margin-top: 11px;
}
big.full{
    background:#E46B3C!important;
    color:#fff;
}
.bg--primary .boxed:not(.imagebg) i {
    color: #fff;
    border: 1px solid #fff;
    padding: 15px;
    border-radius: 41px;
    margin-right: 10px;
}
.idobeosztas {
    margin-top: 44px;
}
.idobeosztas h5{
    color:#fff !important;
}
.idobeosztas big {
    margin-top: 9px;
}
.idobeosztas span {
    top: 10px;
    position: relative;
}
.third-box h3{
    color:#fff !important;
}
#tematika .process__item:after{
    display: none !important;
}
#tematika .process__item:before{
    display: none !important;
}
#tematika .process__item{
    margin-top: 25px;
    margin-bottom: 20px;
    border:none;
}
input{
    color:#333 !important;
}
label.gfield_label {
    width: 100%;
    border:none;
}
label.gfield_label:before{
    display:none;

}
.gfield_checkbox label {
    width: 25px !important;
}
.gfield_radio label{
    width: 25px !important;
    border:none !important;
}
.gfield_radio span{
    float: left;
    width: 40px;
    display: block;
    position: relative;
    top: 4px;
    margin-left: 35px;
}
.gfield_radio span:before{
    content:'';
    position: absolute;
    display: block;
    width: 19px;
    height: 19px;
    border: 1px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    left: -33px;
    top: 0px;
}
.gform_page_fields table{
    color:#000 !important
}
hr{
    margin:15px;
}
.tabs--folder .tabs-content{
    padding: 10px;
}

.add_list_item[src$="wp-content/plugins/gravityforms/images/blankspace.png"] {
    background: url("../img/cell-4-4-480.png");
    background-color: white;
    background-position: 3px 1px;
    background-size: 25px 25px !important;
    background-repeat: no-repeat;
    border: none !important;
    width: 31px !important;
    height: 30px !important;
    vertical-align: middle !important;
    /* opacity: 0.5; */
    padding: 11px;
    border-radius: 6px;
}
.delete_list_item[src$="wp-content/plugins/gravityforms/images/blankspace.png"] {
    background: url("../img/minus-outline.png");
    background-color: white;
    background-position: 3px 1px;
    background-size: 25px 25px !important;
    background-repeat: no-repeat;
    border: none !important;
    width: 31px !important;
    height: 30px !important;
    vertical-align: middle !important;
    /* opacity: 0.5; */
    padding: 11px;
    border-radius: 6px;
}
.bg--dark table th{
    background: transparent;
    color:#fff;
}
.gform_wrapper table.gfield_list tr td.gfield_list_icons{
    width:60px !important;
}
.tanfolyamok{
    min-height: 400px;
}
.tanfolyamok .process__item:after{
    display:block;
    top: 20px;
    z-index: 20;
}
#pentafilter-box{
    margin-bottom: 15px;
}
.tanfolyamok .process__item{
    border: 1px solid #d6cbcb;
    padding: 5px;
    padding-top: 20px;
    border-radius: 10px;
}
.tanfolyamok .process__item.even{
    border-left: none;
    left: 2px;
    z-index: 20;
    border-right: 4px solid;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.tanfolyamok .process__item.even:after{
    margin-left: 0px;
}
.tanfolyamok .process__item.odd{
    border-right:0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-left: 2px solid;
}
#pentafilter-box .pentafilter{
    margin: 6px;
    display: inline-block;
    text-align: left;
    margin-left: 15px;
}
.excelbazis_box a{
    display:block;
    font-size: 12px;
    margin-left: 10px;
    position: relative;
}
.excelbazis_box a:before{
    display:block;
    position: absolute;
    width: 5px;
    height: 5px;
    left: -18px;
    top: 10px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 6px;
    background: #ada4a4;
    border: 1px solid #ada4a4;
    content: '';
}
@media all and (max-width: 767px) {
    .tanfolyamok .process__item{
        border-left: 1px solid #d6cbcb !important;
        margin-left: 23px;
        width: calc(100% - 23px);
        z-index: 30 !important;
        background: #fff;
        border-right: 2px solid !important;
        left: 0px !important;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        padding-left: 45px;
        border-left: 0px !important;
    }
    .tanfolyamok .process__item.even:after{
        left: -21px;
        z-index: 100 !important;
    }
    .tanfolyamok .process__item.odd:after{
        left: -21px;
        z-index: 100 !important;
    }
}